<% content_for :stylesheet, (stylesheet_link_tag "photosite") %>
<% content_for :title, "My Photo Website Users" %>
<%= render "layouts/nav" %>
<h2>My Photo Website Users</h2>
<%= form_tag("post_submit", :method => "post", :onkeyup => "ajxw.newsearch();") do %>
	<%= label_tag(:text_val, "Search: ", class: 'search') %>
	<%= text_field_tag(:text_val, '', :id => "search") %>
<% end %>
<div id="search-result"></div>
<% if @users %>
	<% @users.each do |u| %>
 		<p>
 			<%= link_to(u.get_name, controller: "photos", action: "index", id: u.id)%>
 		</p>
	<% end %>
<% end %>


<%= javascript_include_tag "AjaxWrapper" %>
<script type="text/javascript">
  //<![CDATA[
 	var html = "";
 	var callback = function(response) {
	  	if (response) {
			for (var i = 0; i < response.length; i++) {
				var link = "/photos\/index\/"+response[i].user_id;
				console.log(link);
				html += "<a href=\""+link+"\"><img src=\"\/assets\/"+response[i].file_name+"\" class=\"search-thumbnail\"><\/a>";
				console.log(html);
				//html += "<img src=\"/assets/"+response[i].file_name+"\" class=\"search-thumbnail\">"
			}
		}
		return html;
  	}
  	var ajxw = new AjaxWrapper("search", "search-result", "/photos/search?str=", callback);
  //]]>
</script>